/* Hero Banner Styling */
.hero-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:3rem 5rem;
}

.hero-banner__heading, .hero-banner__description {
    margin-bottom: 2.5rem;
}

.hero-banner__heading {
    width: 70%;
}

.hero-banner__description {
    width: 77%;
}

.hero-banner__img {
    width: 25rem;
    height: 20rem;
}